<?xml version="1.0"?>
<model>
  <name>Typhoon H480 RS with PT camera</name>
  <version>1.0</version>
  <sdf version="1.5">typhoon_gimbal_camera.sdf</sdf>

  <author>
   <name></name>
   <email></email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480 with mounted Intel Realsense module
  </description>
</model>
