<?xml version="1.0"?>
<model>
  <name>fw_gimbal_camera</name>
  <version>1.0</version>
  <sdf version='1.5'>fw_gimbal_camera.sdf</sdf>

  <license></license>
  <author></author>

  <description>
    Techpod UAV model from ethz-asl/rotors_simulator generated into sdf for PX4/sitl_gazebo
  </description>
</model>
